<%= form_for(@article, :html => {class: "form-horizontal", role: "form"}) do |f| %>
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% @article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class='row'>
  <div class='col-xs-12'>
      <div class="field form-group">
        <div class="control-label col-sm-2">
        <%= f.label :title %><br>
        </div>
        <div class="col-sm-8">
        <%= f.text_field :title, class: "form-control", placeholder: "Put the title here", autofocus: "true" %>
        </div>
      </div>
      
      <div class="field form-group">
        <div class="control-label col-sm-2">
        <%= f.label :description %><br>
        </div>
        <div class="col-sm-8">
        <%= f.text_area :description, rows: 10,class: "form-control", placeholder: "Description of the article" %>
        </div>
      </div>
      <div class="actions form-group">
        <div class="col-sm-offset-2 col-sm-10">
        <%= f.submit class: 'btn btn-primary btn-lg' %>
        </div>
      </div>
    <% end %>
  </div>
</div>