<html>
    <head>
        
    
    </head>
    <body>
        <%= image_tag 'kologeroi.jpg' %>
        <h1>Contact us via an email message by filling the form</h1>
        <nav>
            <ul>
                <li><%= link_to 'Home', root_path %></li>
                <li><%= link_to 'Blog', blog_path %></li>
                <li><%= link_to 'About', about_path %></li>
                <li><%= link_to 'Contact Us', contact_path %></li>
            </ul>
        </nav>
        
    </body>
    
    
</html>